/*Formato del calculadora*/
.calorias {
  background-color: #E8F5E9;
  padding: 30px;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}
/*Estilo y tamaño de los Inputs */
.calorias input {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 25px; 
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*Estilo del boton*/
.calorias button {
  width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.calorias button:hover{ 
  transition: .3s ease;
 background-color: #3c8b40;
}

.calorias ul {

  margin-top: 10px;
}
/*Formato de la imagen*/
#balanza{
  width: 28rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
/*Boton final redireccion*/
.contenido button{
  width: 100%;
    padding: 18px;
    background: #4CAF50;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contenido p{
  padding: 40px;
}
.contenido{
  padding-bottom:5em ;
}

.pulsa{
  width: 70%;
}