/*importa la fuente a la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Borra los margenes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
/*Los scroll de la pagina son suaves*/
html{
    scroll-behavior:smooth ;
}
/*Aplica la fuente a la pagina, color*/
body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(192, 221, 183);
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    

}
/*El cuerpo lo iniciamos invisible*/
body.visible{
    opacity: 1;
    
}
/*Estilo de barra superior*/
.menu{
    background-color: #4CAF50;
    color: black;
    height: 70px;
  
}
/*formato de los elementos del menu arriba*/
.menu_contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
/*movimiento desplegable de la lista en el menu arriba*/
.menu_rutas{
    height: 100%;
    transition: transform .5s;
    display: flex;
}
/*Accion del menu desplegable*/
.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip:polygon(0 0, 100% 0, 100% 0, 0 0);
}
/*Accion cuando el puntero esta ensima despliega*/
.menu_item:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
/*Centrado de los menus desplegables*/
.menu_ruta{
    color: black;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
/*Cambio de color al pasar puntero en los menus*/
.menu_ruta:hover{
    color: rgba(255, 255, 255, 0.726);
    background-color: #388E3C;

}
/*Menu desplegable y despliegue en eje Y*/
.menu_menor{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right : 0; 
    bottom: 0;
    width: max-content;
    transform : translateY(100%);
    background-color:#388E3C;

}
/*dimensiones del menu desplegable*/
.menu_ruta--dentro {
    padding: 30px 100px 30px 20px;
}
/*Menu desplegable cambio color*/
.menu_ruta--dentro:hover{
    transition: .4s;
    background-color: #66BB6A;
    
}
/*Centrado del contenido dentro de la pagina*/
.contenido{
    color :black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    font-size: 1.2em;
    padding-bottom: 10em;
    
}
/*Espaciado de los elementos*/
.contenido h1 {
    padding: 40px;
    
}
/*Estilo de pie pagina*/
footer{
    background-color: #388E3C;
    padding: 2rem;
    color: white;
    margin-top: auto;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer section a{ 
    transition: color  .3s ease;
    text-decoration: none;
    color: black;
    
}
footer section a:hover{
    color: violet;
}
.EspaciadoXD{
    padding: 5rem;
}
/*Estilo de los botones direccionales*/
.pulsa{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 2px 2px 8px black;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    
    position: relative; /* necesario para z-index */
    z-index: 10;
}
.pulsa:hover{
    transition: .3s;
    background-color: #3c8b40;
}
/*Estilo de los menus que contienen botones*/
.contenido.productos{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(61, 73, 48);
    color : white;
    padding: 30px;
    padding-bottom: 100px; 
}

.contenido.productos .prod-dividido{
 display: flex; 
}

/*Distancia de cada menu */
.separar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: rgb(66, 102, 52);
    margin: 5px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.separar p{
    padding: 20px;
}

/*Formato imagen del logo*/
#logo{
    width: 80px;   
    height: auto;

}
.menu_logo{
    display: flex;
    align-items: center;
}